.form-1 {
    padding-top: 10%;
    display: flex;
    justify-content: center;

}

.backGround {
    background-image: url('../assets/FondoContacto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.backGroundContacto {
    background-image: url('../assets/contatoPage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: -100px;
}


  
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1 0 calc(50% - 10px); /* Esto proporciona un ancho del 50% con un margen de 10px entre las columnas */
    margin: 5px; /* Ajusta los márgenes entre las columnas */
  }